[Unit]
Description=HOORCH Main Program
After=basic.target sound.target
DefaultDependencies=false

[Service]
User=pi
Type=simple
Restart=on-failure
WorkingDirectory=/home/pi/hoorch/
ExecStart=/home/pi/venv/bin/python3 /home/pi/hoorch/hoorch.py

[Install]
WantedBy=basic.target