[Unit]
Description=HOORCH switch off GPIO checker
After=multi-user.target
DefaultDependencies=false

[Service]
User=root
Type=simple
WorkingDirectory=/home/pi/hoorch/
ExecStart=/home/pi/hoorch/venv/bin/python3 /home/pi/hoorch/services/service_switch_off.py

[Install]
WantedBy=multi-user.target
