[Unit]
Description=HOORCH Main Program
After=basic.target sound.target leds_server.service
Requires=leds_server.service
DefaultDependencies=false

[Service]
User=root
Type=simple
Environment="PATH=/home/pi/hoorch/venv/bin:/usr/bin"
Environment="VIRTUAL_ENV=/home/pi/hoorch/venv"
Restart=always
RestartSec=2
WorkingDirectory=/home/pi/hoorch/
ExecStart=/home/pi/hoorch/venv/bin/python3 /home/pi/hoorch/hoorch.py

[Install]
WantedBy=basic.target
