[Unit]
Description=HOORCH Webserver Service
After=multi-user.target
DefaultDependencies=false

[Service]
User=root
Type=simple
WorkingDirectory=/home/pi/hoorch/
ExecStart=/home/pi/hoorch/venv/bin/python3 -m services.server_fastapi

[Install]
WantedBy=multi-user.target
