[Unit]
Description=HooRCH NeoPixel LED Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/hoorch
ExecStart=/home/pi/hoorch/venv/bin/python /home/pi/hoorch/services/leds_server.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
